.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  z-index: 1000;
}

.loader-logo {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: auto;
  p{
    margin: 24px 0 0 0;
    max-width: 282px;
    font-size: 16px;
    color: $black-color;
    text-align: center;
    font-weight: 500;
  }
}

