$main-color: #5640FA;
$black-color: #181236;
$white: #fff;
$purple: #3C3386;
$purple-light: #D5D0FF;
$purple-light-bg: #F2F0FF;
$light-grey: #c1c1c1;
$grey-200: #D2D4DB;
$grey-500: #767A87;
$green: #36ce9f;
$bg-light: #FAFAFA;
$error: #EE0017;